body {
	background-color: #000;
	color: #fff;
}
h1, h2, h3, h4, .accTrigger a, #footer .copyright p {
	color: #fff;
}
h3, #commentform label, .widget_calendar caption {
    color: #999999;
}
h3.sectionTitle {
    border-bottom: 1px solid #444;
}
.page-section, .accTrigger, #footer {
	background:#000;
}
.parallax{
	border-top:10px solid rgba(0,0,0,0.3);
	border-bottom:10px solid rgba(0,0,0,0.3);
}
table th {
    background-color: #222;
    background-image: -moz-linear-gradient(center bottom , #222 0%, #555 100%);
    border-color: #444;
    color: #fff;
}
table td:last-child, table th:last-child {
    border-right: 1px solid #444;
}
table td {
    border-color: #444;
}
.accTrigger.active a {
	color: #000;
}
#comments li {
	color: #555555;
}